<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycz.zcw.manager.dao.PermissionDao">
       <!-- 取消角色已分配权限 -->
    <delete id="deleteRolePermissions" parameterType="map">
       delete from t_role_permission where roleid=#{roleid}
    </delete>
    
    <!-- 分配角色权限 -->
    <insert id="insertRolePermissions" parameterType="map">
      insert into t_role_permission(roleid,permissionid) values
      <foreach collection="permissionIds" item="permissionid" separator=",">
       (#{roleid},#{permissionid})
      </foreach>
    </insert>
</mapper>