<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycz.zcw.manager.dao.UserDao">
    <!-- 查询总的记录条数 -->
    <select id="getUsersTotal" resultType="int" parameterType="map">
       select count(*) from t_user
       <where>
          <if test="queryText!=null">
             and loginacct like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or username like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or email like concat('%',#{queryText},'%')
          </if>
       </where>
    </select>
    
    <!-- 分页查询用户 -->
    <select id="queryUsersPaged" resultType="com.ycz.zcw.manager.pojo.User" parameterType="map">
       select * from t_user
       <where>
          <if test="queryText!=null">
             and loginacct like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or username like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or email like concat('%',#{queryText},'%')
          </if>
       </where>
       order by createtime desc
       limit #{offset},#{pageSize}
    </select>
    
    <!-- 批量删除 -->
    <delete id="deleteUsers" parameterType="String">
      delete from t_user where id in (${value})
    </delete>
    
    <!-- 为用户分配角色 -->
    <insert id="insertUserRoles" parameterType="map">
        insert into t_user_role(userid,roleid) values
         <!-- 插入多条记录使用动态SQL遍历来处理 -->
         <foreach collection="assignIds" item="roleid" separator=",">
           (#{userid},#{roleid})
         </foreach>
    </insert>
    
    <!-- 取消用户的角色 -->
    <delete id="deleteUserRoles" parameterType="map">
       delete from t_user_role where userid=#{userid} and roleid in
       <foreach collection="unAssignIds" item="roleid" open="(" close=")" separator=",">
         #{roleid}
       </foreach>
    </delete>
</mapper>